<footer>
  <div class="newsletter-form">
    <div class="container">
      <span class="fa fa-times close-btn"></span>
      <form>
        <div class="form-group">
          <label for="inputEmail">Subscribe to stay up to date!</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="you@email.com">
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
      </form>
    </div>
    <div class="container">
      <hr>
    </div>
  </div>
  <div class="footer">
    &copy;2018 TheCing - <a href="http://cing.pro" target="_blank">cing.pro</a>
    <div class="container">
      <hr>
    </div>
    <p>
      This content is not affiliated with, endorsed, sponsored, or specifically approved by Supercell and Supercell is not responsible for it. For more information see <a href="https://www.supercell.com/fan-content-policy">Supercell's Fan Content Policy.</a>
    </p>
  </div>
</footer>
