// Global styles
.page-start {
  margin-top: 4em;
}

.article-title {
  font-family: $playfair;
  font-weight: 700;
  margin: 0;
}

.article-date, .article-author {
  font-family: $merriweather;
  font-weight: 300;
  font-style: italic;
}

.article-content {
  font-family: $merriweather;
}
