---
layout: default
---
<div class="container page-start article-margin">
  <h1 class="article-title">{{ page.title }}</h1>
  <p>
    <span class="article-date">published {{ page.date | date_to_string: "ordinal", "US" }}</span>
    {% assign author = site.authors | where: 'short_name', page.author | first %}
    <span class="article-author">
      {% if author %}
        by <a href="{{ author.url }}">{{ author.name }}</a>
      {% endif %}
    </span>
  </p>
  <div class="article-content">
    {{ content }}
  </div>
</div>
